body {
    height: 100%;
    margin: 0;
    background-color: cornflowerblue;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-info {
    width: 620px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: 'Pixelify Sans';
    font-size: 18px;
    color: deepskyblue;
    background-color: lightblue;
    padding: 10px;
}

.gemini {
    display: flex;
    position: relative;
    left: 570px;
    top: -25px;
    padding: 10px;
    font-family: 'Pixelify Sans';
    font-size: 20px;
}

#fahrenheit, #celsius {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-family: 'Pixelify Sans';font-size: 16px;
    color: deepskyblue;
    image-rendering: crisp-edges;
    box-shadow: 0px 3px honeydew, 0px -3px honeydew, -3px 0px honeydew, 3px 0px honeydew;
    background-color: honeydew;
    border-radius: 3px;
    cursor: pointer;
}

#location {
  width: 80px;
  font-family: 'Pixelify Sans';font-size: 16px;
    color: deepskyblue;
    image-rendering: crisp-edges;
    box-shadow: 0px 3px honeydew, 0px -3px honeydew, -3px 0px honeydew, 3px 0px honeydew;
    background-color: honeydew;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 15px;
}


.weather-animation {
    width: 640px;
    height: 360px;
    background-image: url("weatherImages/snow3.png");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

.tempAndLocation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CityAndTime {
    display: flex
}

#city, #time {
    margin: 3px
}

#specifics2 {
    display: flex;
     width: 634px;
    height: 20px;
    border: solid white 2px;
    justify-content: center;
    color: black;
    font-family: 'Pixelify Sans';font-size: 16px;
    background: rgba(0,0,0,0.1)
}

